* {
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
}

body {
    /*width: 100%;*/
    min-height: 100%;
    background: url(../res/cream_dust.png) repeat 0 0;
    padding: 0;
    margin: 0;
    /*padding: 20px 20px 10px 20px;*/
}

/*Pomocne klase*/
.float_left {
    float: left;
}

.clear_floating {
    clear: both;
}

.center {
    text-align: center;
}

.img-spec {
    padding: 0;
    margin: 5px;
    box-shadow: 5px 5px 3px #888888;
}

/*Navbar*/
nav {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #333;
}

nav ul {
    width: 75%;
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

figure {
    width: 100px;
    margin: auto;
}

/*Glavni sadrzaj*/
#main_content {
    margin: auto;
    width: 95%;
}

main {
    margin: auto;
    width: 75%;
}

main h1 a{
    color: black;
    text-decoration: none;
}

main h1 a:hover{
    text-decoration: underline;
}

article {
    width: 100%;
    height: auto;
    font-size: large;
    letter-spacing: 0.01em;
}

article p {
    text-align: justify;
    text-justify: inter-word;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.article_lead {
    font-style: italic;
}

#oClanku{
    font-size: small;
}

/*Modal primjer sa w3schools*/

#slikaMain{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#slikaMain:hover{
    opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
/*    max-width: 700px;*/
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Footer*/
footer {
    width: 100%;
    color: white;
    background-color: #333;
    position: relative;
    bottom: 0;
}

footer p {
    padding: 2px;
    text-align: center;
}

footer a {
    color: #ffffff;
}

footer #last {
    margin-bottom: 0;
}

/*Za formu*/
.forma {
    max-width: 650px;
    margin: auto;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*Za administrator.php*/
#administratorTable {
    border-collapse: collapse;
    width: 100%;
}

#administratorTable th {
    background-color: #4CAF50;
    color: white;
}

#administratorTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#administratorTable tr:nth-child(even) {
    background-color: #dddddd;
}

#administratorTable tr:hover {
    background-color: #f5f5f5;
}

#administratorTable a{
    color: black;
}

@media screen and (max-width: 600px) {
    .forma {
        max-width: 350px;
    }

    .modal-content {
        width: 100%;
    }

    nav ul li {
        float: none;
    }

    nav {
        position: relative;
    }

    nav ul {
        width: 100%;
    }

    nav figure {
        width: 100%;
        text-align: center;
    }

    main {
        width: 100%;
    }

    article img {
        width: 100%;
        margin: auto;
    }
}